<br>
<br>
<div class container>
    <div class="container vertical-center-container">
        <h2>Welcome to this Pokemon Catching game!</h2>
        <br>
        <%= link_to "Try to catch a Pokemon", catch_path, class: "btn btn-warning" %>
        <%= link_to "See my Pokedex", trainers_path, class: "btn btn-primary" %>
    </div>
</div>
