<div class="container vertical-center-container">
    <div class="row">
        <div class="col-12 py-5">
            <h2>Welcome to this Pokemon Catching game!</h2>
            <br>
            <%= link_to "Try to catch a Pokemon", catch_path, class: "btn btn-warning" %>
            <%= link_to "See my Pokedex", trainers_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>
